@font-face {
  font-family: "TT Lakes";
  src: url("TT_Lakes/TT\ Lakes\ Neue\ Trial\ Bold.ttf") format("truetype");
  font-weight: 700;
}
@font-face {
  font-family: "TT Lakes";
  src: url("TT_Lakes/TT\ Lakes\ Neue\ Trial\ Medium.ttf") format("truetype");
  font-weight: 500;
}
@font-face {
  font-family: "TT Lakes";
  src: url("TT_Lakes/TT\ Lakes\ Neue\ Trial\ Regular.ttf") format("truetype");
  font-weight: 400;
}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "TT Lakes", sans-serif;
}


body {
  width: 100%;
  min-width: 320px;
  
}

/*  Header Menu */

header {
  width: 100%;
  height: 88px;
  padding: 8px 8px;
  background: #ffffff;
  display: flex;
  justify-content: space-between;
}

.header__menu-left {
  display: flex;
  flex-direction: row;
  
}

.header__menu-right {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.header__menu-element {
  margin: 16px 8px;
}

#repair-logo, #check-status-logo {
    padding-top: 5px;
}


.header__menu-text {
  padding: 8px;
  font-family: "TT Lakes";
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  color: #1b1c21;
}

.header__logo {
  margin: 10.59px 12.73px 10.59px 8.73px;
}

.header__dash {
  background-color: #eaeaea;
  width: 2px;
  height: 32px;
  margin: 20px 12px 28px 4px;
}

.header__hidden-element,
.header__hidden-text {
  display: none;
}

/* Burger menu */

.header__burger-menu-container {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 320px;
    height: auto;
    padding-bottom: 16px;
    background-color: #ffffff;
    flex-direction: column;
    justify-content: space-between;
    display: none;
    transition: 0.5s;
}


.burger-menu_header {
    width: 100%;
    height: 88px;
    padding: 8px;
    display: flex;
    justify-content: space-between;  
}

.burger-menu_header_left {
  display: flex;
}

.burger-menu_services {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.burger-menu_service {
    height: 24px;
    margin: 12px 0;
}

.burger-menu_service-dash {
    height: 32px;
    border: 4px solid transparent;
    border-radius: 4px;
    margin-left: -4px;
    margin-right: 20px;
}

.burger-menu_service-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
}

.burger-menu_service:hover  .burger-menu_service-dash,
.burger-menu_service:active  .burger-menu_service-dash {
    border-color: #41F6D7;
    cursor: default;
}

.burger-menu_service:hover  .burger-menu_service-text,
.burger-menu_service:active  .burger-menu_service-text {
  color: #7E7E82;
  cursor: default;
}

.burger-menu_bottom {
    padding: 8px;
}

.burger-menu_icons, .burger-menu_languages  {
    display: flex;
}

.burger-menu_email {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    margin: 0 8px 0;
}

.burger-menu_tel {
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.6px;
    margin: 0 8px;
}

.burger-menu_languages {
    width: 87px;
    height: 24px;
    margin: 8px;
    display: flex;
    justify-content: space-between;
}

/* Main */

main {
  width: 100%;
  min-width: 320px;
  background-color: #f8f8f8;
  padding-top: 18px;
  height: calc(100vh - 88px);
}

/* Заголовок раздела Main */

.main__title {
    /* padding-top: 24px; */
    display: flex;
    justify-content: space-between;
}

.title-with-dash, #resize-box {
    display: flex;
    margin: 0 16px 12px 0;
    align-items: center;
}

.aqua-dash {
  height: 40px;
  border-right: 4px solid #41f6d7;
  border-radius: 4px;
  margin: 0 16px 0 0;
}

.main__title h1 {
 
  font-weight: 700;
  font-size: 28px;
  line-height: 40px;
  letter-spacing: -0.6px;
}

/* Меню услуг */

.main__services {
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  margin: 12px 16px;
}

.service {
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
  height: 40px;
  padding: 8px 16px;

  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  color: #7e7e82;
  text-wrap: nowrap;
  text-align: center;
  border: 2px solid transparent;
  border-radius: 6px;
}

.service:hover {
  background-color: white;
  border: 2px solid #b8ffec;
  cursor: default;
}

/* Main content. Текст и фото */

.main__content { 
  display: flex;
  flex-direction: column;
}

#main__text {  /* Основной текст */
  width: 90vw;
  height: 90px;
  margin: 12px 16px 8px 16px;
 
  font-weight: 100;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.2px;
  font-style: normal;
  color: #1b1c21;
  overflow: hidden;
}

.checkbox_read-more {
  display: none;
}

#label_read-more {  /* Кнопка "Читать далее" */
  display: flex;
  align-items: center;
  margin: 8px 16px;
  text-wrap: nowrap;

  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.2px;
}

.main__image img {  /* Фото */
  width: 100%;
  margin: 8px 0 8px;
}

/* Main Для экранов от 768 до 1120 пикселей в ширину */

@media screen and (min-width: 768px) {
  .header__hidden-element {
    display: flex;
  }

  .header__logo {
    order: 3;
  }

  .main__content {
    flex-direction: row;
    height: 308px;
  }

  #main__text {
    width: calc(50vw - 24px);
    height: 160px;
    justify-content: flex-left;
    margin-left: 24px;
  }

  .main__image {
    width: 50vw;
    justify-content: flex-right;
    margin-right: 24px;
  }
}

/* Main Для экранов от 1120 пикселей в ширину */

@media screen and (min-width: 1120px) {
  .header__hidden-text {
    display: flex;
  }

  .main__services {
    flex-wrap: wrap;
  }

  .service {
    padding: 8px 20px;
  }

  #main__text {
    width: calc(50vw - 70px);
    height: 160px;
    justify-content: flex-left;
    margin-left: 34px;
    margin-right: 36px;
  }

  .main__image {
    width: 50vw;
    justify-content: flex-right;
    margin-right: 24px;
  }
}

@keyframes spinBounce {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#call-logo {
  animation: spinBounce 5s infinite linear;
}