  @mixin flex-space-between {
    display: flex !important;
    justify-content: space-between !important;
    align-items: center !important;
  }
  
  @mixin flex-start-space-between {
    display: flex !important;
    justify-content: space-between !important;
    align-items: flex-start !important;
  } 

body {
    h2.swiper-title {
      display: inline-block;
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: 0.3px;
      color: #7e7e82;
      margin: 16px;
      text-wrap: wrap;
    }
  }
  
  .services-brands,
  .services-technics,
  .prices {
    margin: 16px;

    
  }
  
  .brend-swiper {
    height: 104px;
  }
  
  .brend-swiper-slide {
    @include flex-space-between;
    width: 240px !important;
    height: 72px !important;
    padding: 0 16px !important;
    background-color: white !important;
    border: 1px solid black;
    border-radius: 6px;
  }
  
  .brend-grid {
    display: none;
    height: 168px;
    margin: 16px;
    overflow: hidden;
    grid-template-columns: repeat(auto-fill, 224px);
    grid-template-rows: repeat(2, 74px);
    gap: 16px;
  }
  
  .brend-grid-slide {
    @include flex-space-between;
    width: 224px;
    height: 72px;
    padding: 0 16px;
    background-color: white;
    border: 1px solid black;
    border-radius: 6px;
  }
  
  .technic-swiper {
    height: 174px;
  }
  
  .technic-swiper-slide {
    @include flex-start-space-between;
    height: 160px !important;
    width: 240px !important;
    padding: 16px !important;
    background-color: white !important;
    border: 1px solid black;
    border-radius: 6px;
  }
  
  .technic-swiper-slide a,
  .technic-grid-slide a {
    align-self: flex-end;
  }
  
  .swiper-pagination-brend,
  .swiper-pagination-technic,
  .swiper-pagination-prices {
    display: flex;
    justify-content: center;
  }
  
  .technic-grid {
    display: none;
    height: 168px;
    margin: 16px;
    overflow: hidden;
    grid-template-columns: repeat(auto-fill, 224px);
    grid-template-rows: repeat(1, 160px);
    gap: 16px;
  }
  
  .technic-grid-slide {
    @include flex-start-space-between;
    width: 224px;
    height: 160px;
    padding: 16px;
    background-color: white;
    border: 1px solid black;
    border-radius: 6px;
  }
  
  .double-arrow {
    margin-left: 8px;
    margin-bottom: -6px;
    transition: 1s;
    transform: scale(1.2);
  }

  .button_show-all-slides {
    display: none;
    border: none;
    align-items: center;
    background-color: transparent;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.2px;
  }
  
  .prices-swiper {
    height: 214px;
    width: 100%;
  }
  
  .prices-swiper-slide {
    width: 260px !important;
    height: 200px !important;
    display: flex !important;
    background-color: white !important;
    border-radius: 6px;
  }
  
  .prices-container {
    width: 260px;
    height: 200px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid black;
    border-radius: 5px;
    background-color: white;
  }
  
  .prices-title {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #7E7E82;
  }
  
  .prices-text,
  .prices-table_row {
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.2px;
  }
  
  .prices-info_with-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .order-button {
    width: 119px;
    height: 32px;
    background: url("../images/swipers/order-button.svg") center/cover;
    border-radius: 50px;
    border-color: white;
  }
  
  .prices-table {
    display: none;
    flex-direction: column;
    background-color: white;
    margin: 0 8px;
    padding: 0 16px;
    border-radius: 5px;
  }
  
  .prices-table_header {
    height: 65px;
    width: 100vw;
    display: none;
    align-items: center;
    margin: 0 8px;
    padding: 0 16px;
    background-color: #F8F8F8;
    color: #7E7E82;
  }
  
  .prices-table_row {
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #EAEAEA;
  }
  
  .table_price-column {
    position: absolute;
    left: 53%;
  }
  
  .table_time-column {
    position: absolute;
    left: 66%;
  }
  
  .prices-table_description {
    margin: 24px;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.2px;
    color: #1B1C21;
  }
  
  .prices-table_link {
    a {
      display: inline-block;
      text-wrap: wrap;
      text-decoration: none;
      margin: 24px;
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: 0.2px;
      color: #1B1C21;
  
      img {
        margin-bottom: -7px;
      }
  
      &:visited,
      &:-webkit-any-link {
        color: #1B1C21;
        text-decoration: none;
      }
    }
  }


  
  @media screen and (min-width: 768px) {
    .brend-swiper,
    .technic-swiper,
    .prices-swiper {
      display: none !important;
    }
  
    .brend-grid,
    .technic-grid {
      display: grid;
    }
  
    .button_show-all-slides {
      display: inline-block;
    }

    .prices-table,
    .prices-table_header {
      display: flex;
    }
  
    .prices-table_description {
      width: 421px;
    }
  }
  
  @media screen and (min-width: 1120px) {
    .brend-grid,
    .technic-grid {
      gap: 22px;
    }
  }
  

  